.padding_avales_cont{
    background-color:#fff;
    padding: 2rem 5rem 0rem 5rem;
}

.espace_tittle_avales{
    margin-top: 9rem;
}

.img_avales{
    width: 190px;
}

.container_img_avales{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #836262;
}

.tittle_avales{
    color: #836262;
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.parrafo_avales{
    margin-top: 1rem;
    color: #000;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.container_nums{
    margin-top: 50px;
    margin-left: 90px;
}

.content_icon_hotspot{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    /* border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #836262;
    width: auto; */

}

.icon_hotspot{
    font-size: 40px;
    color: #836262;
    display: inline-block;
    margin-right: 30px;
}

.text_hotspot{
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: normal;
}



.img_certificados{
    width: 65%;
    background-color: #836262;
    padding: 10px 5px 10px 15px;
    border-radius: 19px;
}

.contenedor_img_estandartes{
    display: inline-block;
    padding:5px;
    box-sizing: border-box;
}

.img_estandars{
    /*display: inline-block; */
    padding: 5px;
    box-sizing: border-box;
    /* align-items: center; */
    /* display: flex; */
    margin: auto;
}

.tamano_1{
    width: 300px;
    height: 300px;
}

.space_text_certificados{
    margin-top: 3rem;
}

.num_certifiacdo{
    position: relative;
    top: 35px;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #F5ECE4;
    width: 150px;
    border-radius: 30px 30px 30px 30px;
    color: #F5ECE4;
}

.num_certifiacdo_2{
    position: relative;
    top: 35px;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #836262;
    width: 150px;
    border-radius: 30px 30px 30px 30px;
    color: #836262;
}

.card_certificados{
    background: #836262;
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
    border: solid transparent;
}

.card_certificados_2{
    background: #F5ECE4!important;
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
    border: solid transparent;
}

.text_certifcado{
    color: #F5ECE4;
    font-size: 22px;
}

.text_certifcado_2{
    color: #836262;
    font-size: 22px;
}

.img_slide_avales{
    width: 80%;
}


@media only screen and (max-width: 1200px) {

    /* .tittle_avales {
        font-size: 20px;
    }

    .parrafo_avales {
        margin-top:15px
    } */


    .tittle_avales {
        font-size: 23px;
    }

    .parrafo_avales {
        font-size: 17px;
    }

    .container_nums {
        margin-top: 0px;
        margin-left: 10px;
    }

}

@media only screen and (max-width: 910px) {

    .img_certificados {
        width: 85%;
    }

    .content_icon_hotspot {
        margin-bottom: 0.5rem;
    }

    .tittle_avales {
        font-size: 20px;
    }

    .parrafo_avales {
        font-size: 17px;
    }

    .container_nums {
        margin-left: 0px;
    }

    .text_hotspot {
        font-size: 20px;
    }
}


@media only screen and (max-width: 910px) {
    .padding_avales_cont{
        padding: 2rem 1rem 0rem 1rem!important;
    }

}

@media only screen and (min-width: 767px) {
    .parrafo_avales_2{
        display: none;
    }

}

@media only screen and (max-width: 767px) {

    .container_nums {
        margin-left: 15px;
    }

    .icon_hotspot {
        font-size: 35px;
    }

    .text_hotspot {
        font-size: 17px;
    }

    .img_avales {
        width: 90px;
    }

    .tittle_avales {
        font-size: 19px;
    }

    .parrafo_avales {
        font-size: 14px;
        display: none;
    }

    .parrafo_avales_2{
        margin-top: 1rem;
        font-size: 14px;
        color: #000;
        font-family: "Montserrat", Sans-serif;
        font-weight: 300;
        text-align: center;
    }

    .content_icon_hotspot{
        margin-left: 3rem;
    }

    .img_slide_avales {
        width: 100%;
    }

    @media only screen and (max-width: 767px) {
        .tittle_avales {
            font-size: 15px;
        }
        .parrafo_avales_2 {
            font-size: 12px;
        }
    }

}


@media only screen and (max-width: 767px) {
    .content_icon_hotspot{
        margin-left: 1rem;
    }
}
