
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parrafo_full{
    font-family: Leelawadee_2;
    font-size: 29px;
    line-height: 47px;
}

    @media only screen and (max-width: 1390px){
        .parrafo_full{
            font-size: 22px;
        }
    }

    @media only screen and (max-width: 1200px) {
        .carousel-item {
            height: 70vh;
        }

        .titulo_full{
            font-family: Leelawadee_1;
            font-size: 32px;
        }

        .parrafo_full{
            line-height: 30px;
            font-weight: 600;
        }

        .mask_calendar {
            height: 96%;
        }

        .icon_search_style_2 {
            padding: 15px;
        }

        .icon_search_style {
            padding: 15px;
        }

        .bg_overley {
            padding: 2rem 3rem 5rem 3rem;
        }

    }

@media only screen and (max-width: 768px) {
    .postion_row_caledanrio {
        left: 3%;
    }

    .titulo_full{
        font-family: Leelawadee_1;
        font-size: 35px;
    }

    .form_search_calendar {
        padding: 10px;
    }

    .carousel-item {
        height: 70vh;
    }
}

@media only screen and (max-width: 576px) {
    .titulo_full {
        font-size:25px;
        text-align: left!important;
    }

    .parrafo_full{
        text-align: left!important;
        margin-top: 0.5rem;
    }

    .carousel-item {
        height: 45vh;
    }

    .mask_calendar {
        height: 94%;
    }

    .form_search_calendar {
        padding: 5px;
    }

    .tittle_proximas_cer {
        font-size: 35px;
    }

    .bg_overley {
        padding: 2rem 1.5rem 1rem 1.5rem;
    }

    .tittle_proximas_cer {
        font-size: 22px;
    }

    .card_grid_cale {
        left: 0px;
    }
}

@media only screen and (max-width: 490px) {
    .tittle_proximas_cer {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1710px) {
    .card_grid {
        width: 21rem;
    }

    .tittle_card_grid {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .fecha_card_grid {
        font-size: 15px;
    }

    .btn_primario_grd_curso {
        font-size: 9px;
        padding: 5px;
    }

    .btn_secundario_grd_curso {
        font-size: 9px;
        padding: 5px;
    }

}


@media only screen and (max-width: 767px) {
    .desaparecer_form_seach{
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    .aparecer_form_seach{
        display: none!important;
    }
}

@media only screen and (max-width: 576px) {
    .mask_calendar {
        height: 96%;
    }

    .carousel-item {
        height: 50vh;
    }
}

@media only screen and (max-width: 400px) {
    .titulo_full {
        font-size: 20px;
        margin-top: 0rem;
    }

    .parrafo_full{
        text-align: left!important;
        margin-top: 1rem;
    }

    .mask_calendar {
        height: 95%;
    }

    .carousel-item {
        height: 53vh;
    }

}
