@font-face {
    font-family: Leelawadee_1;
    src: url('./../../user/fonts/LeelaUIb.ttf');
 }

 @font-face {
    font-family: Leelawadee_2;
    src: url('./../../user/fonts/LeelawUI.ttf');
 }

 @font-face {
    font-family: Bahnschrift;
    src: url('./../../user/fonts/Bahnschrift.ttf');
 }

 .margin_home_nav{
    margin-top: 13%;
}


 .bg_overley{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(131, 98, 98, 0.4);
    padding: 2rem 5rem 5rem 5rem;
}

/* .mask {
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    opacity: 0.3;
    background-image: linear-gradient(310deg, #836262 0%, #836262 100%);
} */

/* Titulos */

.titulo_alfa{
    font-family: Leelawadee_1;
    font-size: 60px;
    color: #836262;
}

.titulomin_alfa{
    font-family: Leelawadee_1;
    font-size: 40px;
    color: #836262;
}

.titulo_beta{
    font-family: Leelawadee_2;
    font-size: 60px;
    color: #836262;
    font-weight:300;
}

.titulo_delta{
    font-family: Leelawadee_2;
    font-size: 18px;
    color: #836262;
    font-weight:300;
    letter-spacing: -1px;
    line-height: 25px;
    max-width: 1000px;
}

.tittle_section2{
    margin-top: 6rem;
}

 .titulo{
    font-family: Leelawadee_1;
    font-size: 60px;
 }

 .parrafo{
    font-family: Leelawadee_2;
    font-size: 29px;
    line-height: 47px;
 }

.primario{
    background-color: #836262;

}

.secundario{
    background-color: #F5ECE4;

}

.terciario{
    background-color: #D19E99;
}

.btn-primario{
    background-color: #836262;
    color: #F5ECE4;
    border-radius: 16px;
    padding: 16px;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
}

.btn-secundario{
    background-color: #F5ECE4;
    color: #836262;
    border-radius: 16px;
    padding: 16px;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
}


.btn-terciario{
    background-color: #D19E99;
}

.btn-cuarto{
    background-color: #000;
    color: #F5ECE4;
    border-radius: 16px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
    padding-right: 16px !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 20px;
}

.texto_primario{
    color: #836262;
}

.texto_secundario{
    color: #F5ECE4;
}

.texto_terciario{
    color: #D19E99;
}

.estilos_section{
    margin-left: 30px;
    margin-right: 30px;
}


/* cards */

.card-custom{
    width: 460px;
    padding: 16px 16px;
    border-radius: 16px;
    border: solid 0px;
}

.card_image{
    border-radius: 16px;
}

.card_modalidad{
    font-family: Bahnschrift ;
    font-size: 25px;
}

.card_body_custom{
    padding: 16px 0 16px 0;
}

.card_titulo{
    font-family: Bahnschrift ;
    color: #836262;
    font-size: 20px;
}

.card_date{
    font-family: Bahnschrift ;
    font-weight: bold;
}

.card_resumen{
    font-family: Bahnschrift ;
}

.card_bg_btn{
    background-color: #F5ECE4;
    border-radius: 24px;
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    padding: 0px 0 0px 0;
}

.card_bg_btn_secundario{
    background-color: #836262;
    border-radius: 24px;
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    padding: 0px 0 0px 0;
}

.card_icon_btn{
    width: 20px;
    color: #836262;
    font-size: 13px;
}

.card_icon_btn_secundario{
    width: 20px;
    color: #F5ECE4;
    font-size: 13px;
}

.carousel-control-prev-icon{
    background-color: #836262;
}

.card_tittle_btn{
    font-size: 20px;
}


/* secion2 */

.card_certificaciones{
    background-color: #fff;
    border-radius: 24px;
    width: 250px;
    /* height: 195px; */
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: #836262;
}

.card_objetivos{
    background-color: #fff;
    border-radius: 24px;
    width: 420px;
    height: 325px;
    -webkit-box-shadow: 10px 10px 28px -25px rgba(0,0,0,0.73);
    -moz-box-shadow: 10px 10px 28px -25px rgba(0,0,0,0.73);
    box-shadow: 10px 10px 28px -25px rgba(0,0,0,0.73);
}

.card_objetivos2{
    background-color: #F5ECE4;
    border-radius: 24px;
    width: 350px;
    height: 250px;
}

.img_card_certificaciones{
    width: 180px;
}

.img_card_objetivos{
    margin-top: 2rem;
    width: 130px;
}

.img_card_objetivos2{
    margin-top: 2rem;
    width: 100px;
}

.custom-info-logo{
    font-size: 18px;
    color: #000;
    letter-spacing: -1px;
    line-height: 25px;
}

.card_title_objetivos{
    color: #836262;
    font-family: Bahnschrift ;
    font-weight: bold;
    font-size: 20px;
}

.card_text_objetivos{
    color: #000;
    font-family: Bahnschrift ;
    font-weight: 400;
}

.objetivos_mt{
    margin-top: 6rem !important;
}

.objetivosmin_mt{
    margin-top: 2rem !important;
}

/* beneficios */

.point_icon_beneficios{
    background-color: #836262;
    border-radius: 24px;
    margin-left: 1rem;
    width: 90px;
    height: 60px;
    padding: 0px 0 0px 0;
}

.img_icon_beneficios{
    width: 40px;
    margin-left:20px;
    margin-top: 8px;
}

.text_beneficios{
    margin-left:30px;
    font-family: Bahnschrift ;
    font-size: 20px;
    font-weight: lighter;
    color: #836262;
}

.rounded_lab{
    background-color: #fff;
    border-radius: 150px;
    width: 105px;
    height: 105px;

}

.img_rounded_lab{
    width: 90px;
}

.img_lab_principal{
    width:660px;
    height:400px;
    border-radius: 24px;
    margin:0 auto;
    background-size: cover;
    background-position: 50% 50%;
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: #836262;
}


.img_lab_secundary{
    width: 230px;
    border-radius: 24px;
        border-style: solid;
        border-width: 0px 9px 9px 0px;
        border-color: #836262;
        margin-bottom: 3rem;
}


.bgimg-1{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-1 {
    min-height: 100%;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }


  .map_custom{
    width: 1200px;
    height: 600px;
    touch-action: pan-x pan-y;
    border-radius: 24px;
}

.map_custom2{
    width: 400px;
    height: 300px;
    touch-action: pan-x pan-y;
    border-radius: 24px;
}

.space_ttile{
    margin-top: 6rem;
}

.registro_num2{
    border-radius: 24px;
    background-color: #836262;
    color: #fff;
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
  }

  .card_colapsable_comprar{
    border: solid 3px #836262;
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
  }

  .btn_ticket_comprar{
    border-radius: 19px;
    background-color: #836262;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
  }


  .mercadopago-button{
    border-radius: 19px!important;
    background-color: #836262!important;
    padding: 5px 30px 5px 30px!important;
    font-size: 15px!important;
    color: #fff!important;
    text-decoration: none!important;
  }


@media only screen and (max-width: 1390px) {


    .btn-primario {
        padding: 11px;
        font-size: 18px!important;
    }

    .space_ttile {
        margin-top: 4rem;
    }

    .titulo {
        font-family: Leelawadee_1;
        font-size: 45px;
    }
    .parrafo {
        font-size: 22px;
    }

    .card_certificaciones {
        width: 220px;
    }

    .img_card_certificaciones {
        width: 150px;
    }

    .custom-info-logo {
        font-size: 14px;
    }

    .titulo_alfa {
        font-family: Leelawadee_1;
        font-size: 45px;
        color: #836262;
    }

    .titulo_beta {
        font-size:45px;
    }

    titulo_delta {
        font-size: 15px;
    }

    .card_objetivos {
        width: 400px;
        height: 260px;
    }

    .img_card_objetivos{
        margin-top: 1rem;
        width: 115px;
    }

    .card_title_objetivos {
        font-size: 18px;
    }

    .card_text_objetivos{
        font-size: 15px;
    }

    .titulomin_alfa {
        font-size: 35px;
    }

    .point_icon_beneficios {
        margin-left: 1rem;
        width: 60px;
        height: 60px;
    }

    .img_icon_beneficios {
        width: 30px;
        margin-left: 15px;
        margin-top: 13px;
    }

    .text_beneficios {
        margin-left: 30px;
        font-size: 17px;
    }

    .img_lab_principal {
        width: 600px;
        height: 300px;
    }

    .img_lab_secundary {
        width: 200px;
        border-radius: 24px;
        border-width: 0px 0px 0px 0px;
        margin-bottom: 0rem;
    }

    .registro_num2{
        padding: 15px 30px 15px 30px;
        font-size: 20px;
      }

      .spaciador_logos_unam{
        margin-right: 3rem;
      }

}

@media only screen and (max-width: 1325px) {
    .btn_ticket_comprar{
        padding: 10px 20px 10px 20px;
        font-size: 13px;
      }
}



@media only screen and (max-width: 576px) {

    .bg_overley {
        padding: 0 20px 0 20px;
    }

    .titulo {
        font-size: 30px;
        text-align: center !important;
    }

    .parrafo {
        font-size: 16px;
        line-height: 23px;
        text-align: center !important;
        margin-top: 2rem;
    }

    .space_ttile{
        margin-top: 3rem;
    }

    .carrusel_space{
        margin-top: 4rem;
    }

    .card-custom {
        width: 400px;
    }

    .card_modalidad {
        font-size: 20px;
    }

    .card_titulo {
        font-size: 15px;
    }

    .card_date {
        font-size: 15px;
    }

    .btn-primario {
        padding: 10px;
        font-size: 19px;
    }

    .btn-secundario {
        padding: 10px;
        font-size: 19px;
    }

    .card_tittle_btn {
        font-size: 15px;
    }

    .order-uno{
        order: -1 !important;
    }

    .order-dos{
        order: 6 !important;
    }

    .space_btn_section1{
        margin-bottom: 3rem;
    }

    .card_certificaciones {
        width: 160px;
        height: 115px;
    }


    .img_card_certificaciones {
        width: 105px;
        margin-top: 10px;
    }

    .custom-info-logo{
        font-size: 12px;
        line-height: 17px;
        margin-top: 1rem!important;
    }

    .tittle_section2{
        margin-top: 1rem;
    }

    .titulo_alfa{
        font-size: 30px;
    }

    .titulo_beta {
        font-size: 25px;
    }

    .titulo_delta {
        font-size: 11px;
        line-height: 17px;
    }

    .objetivos_mt {
        margin-top: 0rem !important;
    }

    .img_card_objetivos {
        margin-top: 0rem;
        width: 70px;
    }

    .card_title_objetivos {
        font-size: 15px;
    }

    .card_text_objetivos {
        font-size: 10px;
    }

    .card_objetivos {
        width: 420px;
        height: auto;
    }

    .titulomin_alfa {
        font-size:25px;
    }
    .text_beneficios {
        margin-left: 15px;
        font-size: 14px;
    }

    .point_icon_beneficios {
        width: 70px;
        height: 50px;
    }

    .img_icon_beneficios {
        width: 30px;
    }

    .espaciodor_lab{
        margin-left: 0px!important;
        text-align: center!important;
        margin-top: 3rem;
    }

    .espaciodor_lab_text{
        text-align: center;
    }

    .rounded_lab {
        width: 90px;
        height: 90px;
    }

    .img_rounded_lab {
        width: 60px;
        margin-top: 15px;
    }

    .col_adaptable_mobil{
        margin-left: 0rem;
        justify-content: center !important;
        display: flex;
        margin-bottom: 2rem!important;
        margin-top: 1.5rem!important;
    }

    .img_lab_principal {
        width: 93%;
        height: 200px;
    }

    .img_lab_secundary {
        width: 180px;
        border-radius: 24px;
    }


    .space_unam{
        margin-top: 3rem;
    }

    .espaciodor_unam_text{
        text-align: center;
        margin-top: 2rem;
    }

    .registro_num2 {
        padding: 10px!important;
        font-size: 20px!important;
        text-align: center!important;
        display: block!important;
    }

    .spaciador_logos_unam{
        margin-bottom: 3rem;
        margin-right: 0rem;
    }

    .espaciador_ubicacion{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .map_custom {
        width: 460px;
        height: 260px;
    }

    .margin_galery_lab{
        margin-bottom: 2rem;
    }

}
