@font-face {
    font-family: Leelawadee_1;
    src: url('./../../user//fonts/LeelaUIb.ttf');
 }

 @font-face {
    font-family: Leelawadee_2;
    src: url('./../../user//fonts/LeelawUI.ttf');
 }

 .titulo{
    font-family: Leelawadee_1;
    font-size: 60px;
 }

 .parrafo{
    font-family: Leelawadee_2;
    font-size: 29px;
    line-height: 47px;
 }


.primario{
    background-color: #836262;
}

.secundario{
    background-color: #F5ECE4;
}

.terciario{
    background-color: #D19E99;
}

.btn-primario{
    background-color: #836262;
    color: #F5ECE4;
    border-radius: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    padding-right: 32px !important;
    padding-left: 32px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.btn-secundario{
    background-color: #F5ECE4;
    color: #836262;
    border-radius: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    padding-right: 32px !important;
    padding-left: 32px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}


.btn-terciario{
    background-color: #D19E99;
}

.texto_primario{
    color: #836262;
}

.texto_secundario{
    color: #F5ECE4;
}

.texto_terciario{
    color: #D19E99;
}

.estilos_section{
    margin-left: 30px;
    margin-right: 30px;
}

.bg_overley{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
