.bg_productos{
    background-image: linear-gradient(to bottom, #fcf3f1, #fbece9, #fae5e1, #f9dfd9, #f8d8d1, #f8d7d0, #f7d7cf, #f7d6ce, #f8dbd4, #f9e0da, #fae5e0, #fbeae6);
}

.container_lineas_single_carousel{
    padding: 10px;
    width: 100%;
    border-radius: 50px; /* Bordes redondeados */
    background-image: linear-gradient(to bottom, #eaccc7, #b99c9e, #896e77, #594552, #2c202f);    box-shadow: 6px 6px 9px -6px rgba(0, 0, 0, 0.25);
    position: relative; /* Necesario para el pseudo-elemento */
    display: flex; /* Flexbox para centrar contenido */
    flex-direction: column; /* Contenido en columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto */
}

.container_lineas_single_carousel::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px; /* Bordes redondeados para el pseudo-elemento */
    border: 3px solid transparent; /* Borde degradado */
    background: radial-gradient(circle, rgba(72,25,12,1) 64%, rgba(253,233,184,1) 87%, rgba(253,233,184,1) 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; /* Solo deja visible el borde */
    pointer-events: none; /* Asegura que no interfiera con el contenido */
}

    .titulo_producto_carousel{
        font-size: 20px;
    }

    .price_producto_carousel{
        font-size: 15px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #2c202f;
    }

    .subtitle_todas{
        font-size: 18px;
    }

    .btn_product_nav{
        background: transparent;
        color: #2c202f;
        border-radius:0;
    }

    .nav-pills .nav-link {
        border:1px solid #2c202f;
        border-radius:0;
        color: #2c202f;
    }

    .img_grid_products_single_carousel {
        width: 90%;
    }

    @media only screen and (max-width: 1200px) {
        .img_grid_products_single_carousel {
            width: 90%;
        }
    }

    @media only screen and (max-width: 490px) {
        .titulo_producto_carousel {
            font-size: 17px;
        }

        .price_producto_carousel {
            font-size: 13px;
        }
    }
