@font-face {
    font-family: Bahnschrift;
    src: url('./../../user//fonts/Bahnschrift.ttf');
 }

 .mask_calendar{
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: linear-gradient(310deg, #836262 0%, #836262 100%);
    z-index: 1;
}

.card_grid{
    width: 26.5rem;
    border-radius: 16px;
    border-style: solid;
    border-width: 0px 13px 13px 0px;
    border-color: #836262;
    position: relative;
}

.img_card_grid{
    border-radius: 19px;
    -webkit-box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.54);
    box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.54);
}

.tittle_card_grid{
    color: #836262;
    font-size: 23px;
    margin-bottom: 1.5rem;
}

.fecha_card_grid{
    color: #836262;
    font-size: 22px;
}

.fecha_strong_card_grid{
    color: #000!important;
    font-size: 22px;
}

.btn_primario_grd_curso{
    background-color: #836262;
    color: #F5ECE4;
    border-radius: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 75%);
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 13px;
        padding: 7px;
}

.btn_secundario_grd_curso{
    background-color: #F5ECE4;
    color: #836262;
    border-radius: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 75%);
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 13px;
        padding: 7px;
}

.card_icon_btn_grid{
    width: 20px;
    color: #836262;
    font-size: 13px;
    margin-top: 8px;
}

.card_icon_btn_secundario_grid {
    width: 20px;
    color: #F5ECE4;
    font-size: 13px;
    margin-top: 8px;
}

.precio_grid{
    position: absolute;
    background-color: #836262;
    color: #fff;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    left: 15px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: Bahnschrift;
}

.share_grid{
    position: absolute;
    background-color: #836262;
    color: #fff;
    border-radius: 19px;
    padding: 10px 15px 10px 15px;
    border-radius: 19px;
    right: 15px;
    top: 15px;
    font-size: 15px;
    font-weight: bold;
}

.wish_grid{
    position: absolute;
    background-color: #836262;
    color: #fff;
    border-radius: 19px;
    padding: 10px 15px 10px 15px;
    border-radius: 19px;
    right: 70px;
    top: 15px;
    font-size: 15px;
    font-weight: bold;
}

.modalidado_grid{
    position: absolute;
    background-color: #F5ECE4;
    color: #836262;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    left: 15px;
    top: 195px;
    font-size: 12px;
    font-weight: 500;
}

.horario_grid{
    position: absolute;
    background-color: #F5ECE4;
    color: #836262;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    padding: 10px 25px 10px 25px;
    border-radius: 19px;
    right: 15px;
    top: 195px;
    font-size: 12px;
    font-weight: 500;
}

.tittle_proximas_cer{
    font-size: 40px;
    font-weight: bold;
}

.postion_row_caledanrio{
    position: relative;
    top: 30%;
    left: 10%;
    z-index: 1;
}



.btn-secundario_grid{
    background-color: #F5ECE4;
    color: #836262;
    border-radius: 16px;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form_search_calendar{
    padding: 30px;
    border-radius: 19px;
    border-style: solid;
    border-width: 0px 13px 13px 0px;
    border-color: #836262;
}

.icon_search_style{
    background: #836262;
    padding: 20px;
    border-radius: 19px;
    color: #F5ECE4;
    font-size: 20px;
}

.icon_search_style_2{
    background: #fff;
    padding: 20px;
    border-radius: 19px;
    color: #836262;
    font-size: 20px;
}

.style_search_label{
    color: #836262;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    @media only screen and (max-width: 1200px) {
        .carousel-item {
            height: 70vh;
        }

        .titulo_full{
            font-family: Leelawadee_1;
            font-size: 32px;
        }

        .mask_calendar {
            height: 96%;
        }

        .icon_search_style_2 {
            padding: 15px;
        }

        .icon_search_style {
            padding: 15px;
        }

        .bg_overley {
            padding: 2rem 3rem 5rem 3rem;
        }

    }

@media only screen and (max-width: 768px) {
    .postion_row_caledanrio {
        left: 3%;
    }

    .titulo_full{
        font-family: Leelawadee_1;
        font-size: 35px;
    }

    .form_search_calendar {
        padding: 10px;
    }

    .carousel-item {
        height: 70vh;
    }
}

@media only screen and (max-width: 576px) {
    .titulo_full {
        font-size:25px;
        text-align: left!important;
    }

    .carousel-item {
        height: 45vh;
    }

    .mask_calendar {
        height: 94%;
    }

    .form_search_calendar {
        padding: 5px;
    }

    .tittle_proximas_cer {
        font-size: 35px;
    }
}

@media only screen and (max-width: 490px) {
    .tittle_proximas_cer {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1710px) {
    .card_grid {
        width: 21rem;
    }

    .tittle_card_grid {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .fecha_card_grid {
        font-size: 15px;
    }

    .btn_primario_grd_curso {
        font-size: 9px;
        padding: 5px;
    }

    .btn_secundario_grd_curso {
        font-size: 9px;
        padding: 5px;
    }

}

@media only screen and (max-width: 576px) {
    .bg_overley {
        padding: 2rem 1.5rem 1rem 1.5rem;
    }

    .tittle_proximas_cer {
        font-size: 22px;
    }
}

@media only screen and (max-width: 576px) {
    .card_grid {
        left: 0px;
    }
}
