body.modal-open>div.bg,
.modal-backdrop.fade.show {
      background-color: rgb(131, 98, 98,0.5);
}

.modal_content_checkout{
    border-radius: 16px!important;
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: #836262;
}

.tittle_modal_cka{
    font-family: Leelawadee_1;
    font-size: 30px;
    color: #836262;
}

.span_custom_checkout{
    background: #836262;
    color: #F5ECE4;
    border: solid 3px transparent;
    border-radius: 16px 0 0 16px;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
    -moz-box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
    box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
}

.input_custom_checkout{
    background: #836262;
    color: #F5ECE4;
    border: solid 3px transparent;
    border-radius: 0px 16px 16px 0px;
    font-weight: 600;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
    -moz-box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
    box-shadow: 5px 5px 13px 0px rgba(128,128,128,0.5);
}

::placeholder {
    color: #F5ECE4!important;
  }

  .btn-factura{
    background: transparent;
    color: #836262;
    border-radius: 16px;
    border:solid 3px #836262;
  }

  .image_checkout{
    width: 50px;
    border-radius: 16px;
  }

  .tr_checkout{
    font-size: 8px;
    color: #836262;
    font-size: 13px;
    font-weight: 300;
  }

  .td_title_checkout{
    font-size: 14px;
  }
  .accordion-item:first-of-type .accordion-button{
    border: solid 1px transparent;
    background-color: #836262;
    color: #F5ECE4;
    font-weight: bold;
    border-radius: 19px;
  }

  .accordion-item:first-of-type {
    border: solid 1px transparent;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border: solid 1px transparent;
    background-color: #836262;
    background: #F5ECE4;
    font-weight: bold;
    border-radius: 19px;
}

.accordion-item:last-of-type {
    border: solid 1px transparent;
}

.accordion-button:not(.collapsed) {
    border: solid 1px transparent;
    background-color: #836262;
    background: #F5ECE4;
    font-weight: bold;
    border-radius: 19px;
    color: #836262;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* width: 110px; */
}

.btn_pagar_checkout{
    background: #000;
    border-radius: 19px;
    color: #F5ECE4;
    border: solid 1px transparent;
    padding: 10px 45px 10px 45px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
}
