.card_video{
    background-color: #000;
    border-radius: 19px;
    padding: 20px;
    margin-top: 2rem;
}

.tittle_nosotros{
    margin-top: 11rem!important;
}

.video_nosotros{
    width: 400px;
    border-radius: 19px;
}

.minicontent_video{
    background-color: #F5ECE4;
    border-radius: 19px;
    padding: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tittle_video{
    color: #836262;
}

.text_video{
    color: #836262;
}

.img_reality{
    width: 500px;
}

.card_reality{
    border-radius: 19px;
}

.img_reality_alumnas{
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
}

.click_docmuentos {
    position: absolute;
    width: 50px;
    bottom: 60px;
    background: #6C5069;
    border-radius: 40px;
    padding: 5px;
    right: 15px;
    transform: rotate(-40deg);
    transition: transform 0.3s ease;
}

.tache{
    width: 200px;
    position: absolute;
    top: 150px;
    left: 70px;
}

.descalificado{
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 1s;
}

.btn-votar{
    border: solid transparent;
    background: #836262;
    border-radius: 19px;
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: #000;
    margin-top: 2rem;
}

@media only screen and (max-width: 1475px) {
    .video_nosotros {
        width: 370px;
    }
}

@media only screen and (max-width: 1380px) {
    .video_nosotros {
        width: 350px;
    }

    .card_video {
        padding: 15px;
    }
}

@media only screen and (max-width: 1380px) {
    .video_nosotros {
        width: 350px;
    }

    .card_video {
        padding: 15px;
    }
}

@media only screen and (max-width: 1300px) {
    .video_nosotros {
        width: 330px;
    }

    .card_video {
        padding: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    .video_nosotros {
        width: 310px;
    }

    .card_video {
        padding: 12px;
    }

    .minicontent_video {
        padding: 15px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .video_nosotros {
        width: 255px;
    }

    .img_reality{
        width: 400px;
    }
}

@media only screen and (max-width: 1050px) {
    .video_nosotros {
        width: 280px;
    }

    .minicontent_video {
        padding: 10px;
    }

    .tittle_video {
        font-size: 25px;
    }

    .tittle_nosotros{
        margin-top: 9rem!important;
    }
}


@media only screen and (max-width: 767px) {
    .tittle_nosotros{
        margin-top: 4rem!important;
    }
}

@media only screen and (max-width: 576px) {
    .tittle_nosotros{
        margin-top: 7rem!important;
        margin-bottom: 0rem!important;
    }

    .img_reality{
        width: 250px;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 450px) {

    .video_nosotros {
        width: 300px;
    }

    .card_video {
        padding: 15px;
    }

}

@media only screen and (max-width: 380px) {

    .video_nosotros {
        width: 280px;
    }

    .card_video {
        padding: 10px;
    }

    .tittle_video {
        text-align: center;
    }

}
