.img_profile_label{
    width: 30px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    background: #F5ECE4!important;
    border: solid 2px transparent;
    border-radius: 0 19px 19px 0;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #F5ECE4!important;
    border: solid 2px transparent;
    border-radius: 19px 0 0 19px;
}

.espacio_p{
    width: 270px;
    font-size: 30px;
}

.btn_save_profile{
    background: #836262;
    border-radius: 19px;
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}
