@font-face {
    font-family: Leelawadee_1;
    src: url('./../../user//fonts/LeelaUIb.ttf');
 }

 @font-face {
    font-family: Leelawadee_2;
    src: url('./../../user//fonts/LeelawUI.ttf');
 }

 @font-face {
    font-family: Bahnschrift;
    src: url('./../../user//fonts/Bahnschrift.ttf');
 }

  /* tab_ubicaicon */

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #fff;
    padding: 5px 0 5px 0;
    width: 390px;
    height: 95px;
    border-radius: 16px;
    font-size: 35px;
    color: #836262;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.nav-pills .nav-link{
    background-color: #F5ECE4;
    padding: 5px 0 5px 0;
    width: 390px;
    height: 95px;
    border-radius: 16px;
    font-size: 35px;
    color: #836262;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-top: 0.6rem;
}

.text_nav_cs{
    margin-left: 60px;
}

.content_nav{
    padding: 5px;
}

.espacio_w{
    width: 160px;
    font-size: 33px;
}

.icon_nav_course{
    width: 50px;
    padding: 5px;
    /* margin-left: 15px; */
    border-radius: 12px;
    background-color: #836262;
    margin-left: 10px;
}

.icon_nav_course2{
    width: 45px;
    height: 45px;
    padding: 5px 5px 5px 5px;
    /* margin-left: 15px; */
    border-radius: 12px;
    background-color: #836262;
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
}

.img_destacada{
    border-radius: 16px;
}

.tab-content > .active {
    background: #fff;
    border-radius: 16px;
    padding: 30px 15px 30px 15px;
    min-height: 670px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title_curso{
    color: #836262;
    font-family: Leelawadee_1;
    font-size: 40px;
    font-weight: bold;
}

.tittle_abstract{
    color: #836262;
    font-family: Bahnschrift;
    font-weight: 500;
    font-size: 25px;
}

.tittle-contact{
    color: #fff;
    font-size: 60px;
}

.border_row{
    background-color:#836262;
    border-radius: 16px;
}

.form_contact{
    border-radius: 16px;
    padding: 15px;
}

.btn_enfiar_form{

    background: #fff;
    padding: 15px 25px 15px 25px;
    border-radius: 16px;
    color: #836262;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}

.img_contact{
    border-radius: 16px;
    margin-top: 9rem;
    width: 400px;
}

.card_certificaciones{
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: #836262;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.form_contactenos{
    max-width: 400px;
    margin: auto!important;
}

.text_preguntas_material{
    font-size: 19px;
    font-weight:400;
    color: #836262;
}

.img_material_clase{
    width: 100%;
    border-radius: 19px;
}

.title_curso {
    color: #836262;
    font-family: Leelawadee_1;
    font-size: 40px;
    font-weight: bold;
}

.text_cards_horizon{
    color: #000;
    font-family: Bahnschrift;
    font-weight: 300;
    font-size: 20px;
}

.card_single_horizon{
    background: #fff;
    padding: 15px;
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
    margin-bottom: 2rem;
}

.card_single_horizon2{
    background: #fff;
    padding: 15px;
    border-radius: 19px;
    box-shadow: 6px 6px 15px -10px rgb(0 0 0 / 50%);
    margin-bottom: 2rem;
    width: 60%;
}

.space_single_new{
    margin-top: 15%;
}

@media only screen and (max-width: 1390px) {

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        padding: 5px 0 5px 0;
        width: 300px;
        height: 95px;
        font-size: 26px;
        margin-bottom: 0.5rem;
    }

    .nav-pills .nav-link {
        padding: 5px 0 5px 0;
        width: 300px;
        height: 95px;
        font-size: 26px;
        margin-bottom: 0.5rem;
    }

    .espacio_w {
        font-size: 29px;
    }

    .title_curso {
        font-size: 35px;
    }

}

@media only screen and (max-width: 1390px) {
    .title_curso {
        font-size: 25px;
    }
}

@media only screen and (max-width: 991px) {
    .title_curso {
        margin-top: 2rem;
        font-size: 25px;
    }

    .img_destacada {
        width: 60%;
        margin-left: 5rem;
    }

    .space_cs_rs{
        margin-top: 1rem!important;
    }

    .space_single_new{
        margin-top: 20%;
    }

    .card_single_horizon2 {
        width: 95%;
        opacity: 0.9;
    }
}

@media only screen and (min-width: 767px){
    .tab_content_tabs_mobil{
        display: none;
    }
}


@media only screen and (max-width: 767px) {

    .tab-content > .active {
        min-height: auto;
    }

    .desaparecer_contenedor_sm {
        display: none;
    }

    .tab_content_tabs_mobil{
        margin-top: 3rem;
    }

    .centrar_tabs{
        display: contents;
    }

    .nav_tab_mb{
        padding: 80px 0 25px 0;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        border-radius: 19px;
    }

    .nav-tabs .nav-link {
        background-color: #F5ECE4;
        color: #836262;
        border-radius: 19px;
        font-weight: 600;
    }

    .nav-tabs{
        border-bottom:transparent;
    }

    .icon_res_tabs{
        width: 35px;
        background: #836262;
        border-radius: 50px;
        padding: 6px;
    }

    .img_destacada{
        width: 40%;
        margin-left: 0rem;
    }

    .title_curso {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .img_material_clase{
        width: 80%;
    }

}

@media only screen and (max-width: 576px) {

    .tab_content_tabs_mobil{
        margin-top: 3rem;
    }

    .centrar_tabs{
        display: contents;
    }

    .nav_tab_mb{
        padding: 50px 0 25px 0;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        border-radius: 19px;
    }

    .nav-tabs .nav-link {
        background-color: #F5ECE4;
        color: #836262;
        border-radius: 19px;
        font-weight: 600;
    }

    .nav-tabs{
        border-bottom:transparent;
    }

    .icon_res_tabs{
        width: 35px;
        background: #836262;
        border-radius: 50px;
        padding: 6px;
    }

    .img_card_certificaciones {
        width: 80%;
        margin-top: 0px;
    }

    .dos_img_cert{
        width: 110px!important;
        margin-top: 5px;
    }

    .tres_img_cert{
        width: 120px!important;
        margin-top: 0px;
    }

    .tittle-contact {
        font-size: 45px;
        margin-top: 1rem;
    }

    .border_row{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 50px;
    }

    .img_material_clase{
        width:100%;
    }

    .card_grid {
        width: 23rem!important;
    }

    .fecha_card_grid {
        font-size: 20px!important;
    }

}

@media only screen and (max-width: 502px) {
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        font-size: 13px;
    }

    .nav-tabs .nav-link {
        font-size: 13px;
    }

    .border_row{
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 50px 10px 50px 10px;
    }

    .fecha_card_grid {
        font-size: 17px!important;
    }

    .card_grid {
        width: 23rem!important;
        left: 50px!important;
    }
}

@media only screen and (max-width: 453px) {
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        font-size: 11px;
    }

    .card_grid {
        width: 24rem!important;
        left: 30px!important;
    }

    .nav-tabs .nav-link {
        font-size: 11px;
    }

    .fecha_card_grid {
        font-size: 20px!important;
    }

    .icon_res_tabs {
        width: 30px;
        background: #836262;
        border-radius: 50px;
        padding: 7px;
    }

    .card_objetivos2 {
        width: 350px;
        height: 200px;
    }

    .img_card_objetivos2{
        margin-top: 0rem;
        width: 80px;
    }

    .card_text_objetivos {
        font-size: 13px;
    }

    .space_single_new{
        margin-top: 25%;
    }


}

@media only screen and (max-width: 408px) {
    .bg_overley {
        padding: 0 5px 0 5px;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        font-size: 11px;
        font-weight: 700;
    }

    .nav-tabs .nav-link {
        font-size: 11px;
        font-weight: 700;
    }

    .icon_res_tabs {
        width: 30px;
        background: #836262;
        border-radius: 50px;
        padding: 7px;
    }

    .card_grid {
        width: 23.5rem!important;
        left: 16px!important;
    }

    .fecha_card_grid {
        font-size: 18px!important;
    }

}

@media only screen and (max-width: 388px) {

    .card_grid {
        width: 22rem!important;
        left: 6px!important;
    }

    .fecha_card_grid {
        font-size: 15px!important;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        padding: 5px 10px 5px 10px;
    }

    .nav-tabs .nav-link {
        font-size: 11px;
        font-weight: 700;
        padding: 5px 10px 5px 10px;
    }

    .icon_res_tabs {
        width: 25px;
        background: #836262;
        border-radius: 50px;
        padding: 4px;
    }

    .img_card_objetivos2{
        width: 70px;
    }

    .card_text_objetivos {
        font-size: 11px;
    }

    .tittle-contact {
        font-size: 30px;
    }

}
